{% extends "base.html" %} {% block title %}User Dashboard{% endblock %} {% block content %}
<br>
<h1 align="center">{{ user.first_name }}'s Dashboard</h1>
<style>
  table, th, td {
    /* border: 1px solid black;
    border-collapse: collapse; */
    margin-left:auto;
    margin-right:auto;
    font-size:24px;
    width:100%
  }
  th, td {
    padding: 20px 100px 100px 100px;
  }
  </style>
  <br><br><br>
<table style="table-layout: fixed">
  <tr>
    <td align="center">
      <a href="apply"><img src="static/images/credit_icon.png">
        <p>Apply for<br>Credit Card</p>
      </a>
    </td>
    <td align="center">
      <a href="user-info"><img src="static/images/user_info.png">
        <p>User Profile</p>
      </a>
    </td>
    <td align="center">
      <a href="spending_habits"><img src="static/images/spending_habits.png">
        <p style="font-size:24px">Spending Habits</p>
      </a>
    </td>
  </tr>
  <tr>
    <td></td>
    <td align="center">
        <a href="documents"><img src="static/images/documents_icon.png">
          <p style="font-size:24px">Upload Documents</p>
    </td>
    <td></td>
  </tr>
</table>





{% endblock %}