{% extends "base.html" %} {% block title %}User Dashboard{% endblock %} {% block content %}

<h1 align="center">User Dashboard for "user" </h1>

<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
<form>
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"  ><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" </br>
    <input type="button" id="testButton" name="testButton" value="testButton">
    <input type="reset"/>
</form>
{% endblock %}